<div class="container ">
    <h1 class="text-center">Login</h1>
    
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="d-flex flex-column align-items-center">
        <div class="col-8">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" formControlName="email" placeholder="Adresse mail" [ngClass]="{ 'is-invalid' : isSubmitted && f.email.errors}">
            </div>
            <div *ngIf="isSubmitted && f.email.errors" class="red-text error-message row offset-s3 col s6 center-align">
                <div *ngIf="f.email.errors.required" class="red-text error-message row offset-s3 col s6 center-align">
                    L'adresse mail est obligatoire.
                </div>
            </div>
          
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" formControlName="password" placeholder="Mot de passe" [ngClass]="{ 'is-invalid' : isSubmitted && f.password.errors}">
            </div>
            <div *ngIf="isSubmitted && f.password.errors" class="red-text error-message row offset-s3 col s6 center-align">
                <div *ngIf="f.password.errors.required" class="red-text error-message row offset-s3 col s6 center-align">
                    Le mot de passe est obligatoire.
                </div>
            </div>

            <button type="submit" class="btn btn-primary col-12">LogIn</button>
        </div>
    </form>
    <div class="text-center mt-3">
        <a routerLink="/signup">Pas encore inscrit ?</a>
    </div>
</div>
