<div class="container">
    <a href (click)="logout()">Déconnexion</a>
    <h1 class="text-center">Liste d'utilisateurs</h1>
    
    <div style="width: 100%" class="d-flex justify-content-end">
      <button type="button" class="btn btn-success mb-3" data-toggle="modal" data-target="#modalNewUser">Ajouter</button>
    </div>

    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
            <th scope="col" class="text-center">Autre</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <th scope="row">{{user.id}}</th>
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.email}}</td>
            <td class="d-flex justify-content-center">
              <button type="button" (click)="fillEditForm(user)" class="btn btn-primary mr-2" style="width: 120px;">Edit</button>
              <button type="button" (click)="getIdOfUserToDelete(user.id)" class="btn btn-danger ml-2" style="width: 120px;">Supprimer</button>
            </td>
          </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="modalNewUser" tabindex="-1" role="dialog" aria-labelledby="modalNewUserLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalNewUserLabel">Ajout d'un utilisateur</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="newUserForm" (ngSubmit)="onSubmit()">
          <div class="modal-body">
              <div class="form-group">
                <label for="firstname">Prénom</label>
                <input type="text" class="form-control" formControlName="firstname" placeholder="Votre prénom" >
              </div>
              <div class="form-group">
                  <label for="lastname">Nom</label>
                  <input type="text" class="form-control" formControlName="lastname" placeholder="Votre nom">
              </div>
              <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" formControlName="email" placeholder="Votre adresse mail" [ngClass]="{ 'is-invalid' : newUserFormIsSubmitted && f.email.errors}">
              </div>
              <div *ngIf="newUserFormIsSubmitted && f.email.errors">
                <div *ngIf="f.email.errors.required" class="text-danger mb-2">
                    Le mail est obligatoire.
                </div>
              </div>
              <div class="form-group">
                  <label for="password">Mot de passe</label>
                  <input type="password" class="form-control" formControlName="password" placeholder="Votre mot de passe" [ngClass]="{ 'is-invalid' : newUserFormIsSubmitted && f.password.errors}">
              </div>
              <div *ngIf="newUserFormIsSubmitted && f.password.errors">
                <div *ngIf="f.password.errors.required" class="text-danger mb-2">
                    Le mot de passe est obligatoire.
                </div>
              </div>
              <div class="form-group">
                  <label for="password_repeat">Confirmation mot de passe</label>
                  <input type="password" class="form-control" formControlName="password_repeat" placeholder="Confirmation du mot de passe" [ngClass]="{ 'is-invalid' : newUserFormIsSubmitted && f.password_repeat.errors}">
              </div>
              <div *ngIf="newUserFormIsSubmitted && f.password_repeat.errors">
                <div *ngIf="f.password_repeat.errors.required" class="text-danger mb-2">
                    La confirmation du mot de passe est obligatoire.
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success">Ajouter</button>
            </div>
        </form>
    </div>
  </div>
</div>





<!-- Modal EDIT -->
<div class="modal fade" id="modalEditUser" tabindex="-1" role="dialog" aria-labelledby="modalEditUserLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalEditUserLabel">Modification d'un utilisateur</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="editUserForm" (ngSubmit)="updateUser()">
          <div class="modal-body">
              <div class="form-group">
                <label for="firstname">Prénom</label>
                <input type="text" class="form-control" formControlName="firstname" placeholder="Votre prénom">
              </div>
              <div class="form-group">
                  <label for="lastname">Nom</label>
                  <input type="text" class="form-control" formControlName="lastname" placeholder="Votre nom">
              </div>
              <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" formControlName="email" placeholder="Votre adresse mail" [ngClass]="{ 'is-invalid' : editUserFormIsSubmitted && editFormControls.email.errors}">
              </div>
              <div *ngIf="editUserFormIsSubmitted && editFormControls.email.errors">
                <div *ngIf="editFormControls.email.errors.required" class="text-danger mb-2">
                    Le mail est obligatoire.
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success">Modifier</button>
            </div>
        </form>
    </div>
  </div>
</div>


<!-- Modal delete -->
<div class="modal fade" id="modalDeleteUser" tabindex="-1" role="dialog" aria-labelledby="modalDeleteUserLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalDeleteUserLabel">Suppression d'un utilisateur</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form>
          <div class="modal-body">
            <p class="text-center">Voulez vous vraiment supprimer cet utilisateur ?</p>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" (click)="delete()" class="btn btn-danger">Supprimer</button>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>